<div class="back">
    <a [routerLink]="['/']">Go back</a>
</div>
<div class="contentbox">
    <h1>Hotdog's DiscordNoodle</h1>
    <h2>Credits</h2>
    <p>
        I was the sole developer of this project, but I received help from various tutorials around the web, and I'd like to thank primarily contributors on Grepper and Stackoverflow. The documentation over at Angular, Discord.js, Mozilla Web Docs, and W3Schools helped a lot as well. And people on Discord that motivated me by showing an interest? You know who you are :)
    </p>
    <hr>
    <p>

    </p>
    <h2>Technical</h2>
    <p>
        This project's frontend was written in Angular 11, and the backend was written in Node and Express, and hosted on Heroku (fantastic hosting site if you're looking for a free tier). All communication between the frontend and backend was done with Socket.io, while the actual bot itself used Discord.js.  
    </p>
    <hr>
    <p>
        It reached version 1.0 in a little under a month, with additional features (like this page) added later. 
    </p>

</div>