.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color: #23272A;
    border: 1px solid black;
    color: white;
    justify-content: flex-end;
}
.link {
    margin: 5px 10px;
    border: 1px solid #7289DA;
    border-radius: 2px;
    text-align: center;
    padding: 3px;
}
.link.disabled {
    background-color: #33373A;
    color:#99AAB5;
}
.disabled span {
    cursor: not-allowed;
}
a {
    text-decoration: none;
    color: inherit;
}
form {
    display: flex;
    padding: 20px;
    margin: auto;
    align-items: center;
    background-color: #23272A;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
:host {
    background-color: #7289DA;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;    
}

label {
    margin-right: 30px;
}

input {
    width: 160px;
    float: right;
}

.notvalid {
    width: 100%;
    background-color: rgb(255, 149, 167);
    border: 1px solid red;
}
@media screen and (min-width: 675px) {
    
    label {
        
        height: 30px;
    }

    form {
        flex-direction: row;
        width: 380px;
        height: 300px;
    }
    
    button {
        margin: auto;
        border-radius: 50%;
        border-style: solid;
        height: 60px;
        width: 60px;
        
    }

}
@media screen and (max-width: 674px) {
    form {
        flex-direction: column;
        max-width: 300px;
        
    }
    
    input {
        display: block;

    }

    .form-group {
        margin-top: 5px;
    }

    button {
        width: 80px;
        height: 40px;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10px;
        border: 1px solid #99AAB5;
        border-radius: 5px;
    }
    label {
        height: 40px;
    }
    
}
