.channel {
	margin-left: 50px;
	height: 1.2em;
}

.messageBox {
	background-color: #75767d;
}


.formBox {
	width: 100%;
	background-color: #75767d;
	position: absolute;
	bottom: 0px;
}
.messageForm {
	display: flex;
}

.formBox div, button {
	margin-top: 10px;
	margin-bottom: 10px;
}




.header {
	display: block;
	height: 60px;
	background: rgb(35,39,42);
	background: linear-gradient(138deg, rgba(35,39,42,1) 0%, rgba(114,137,218,1) 100%);
	border-color: #000;
}
.container {
    display: flex;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
}
.main {
	position: absolute;
	height: 100vh;
	width: 100%;
}
.icon {
	display: block;
	border-radius: 50%;
	height: 48px;
	width: 48px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.icon:hover {
	box-shadow: 0px 0px 12px #000;
	transition: box-shadow 300ms;
}
.sidebar {
	display: flex;
height: 100vh;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(112, 112, 112);
overflow-x: hidden;

transition: 0.5s;
}

@media screen and (min-width: 675px) {
    .sidebar {
        width: 300px;
		padding-top: 0px;
    }
    .btn {
			display: none;
		}
		.main {
			margin-left: 300px;
			padding-top: 0px;
		}
	.bar1, .bar2, .bar3 {
		display: none;
	}
	
}

 .serverlist {
	 width: 60px;
	 background-color: black;
	 overflow: auto
 }
 .channelList {
	 width: 100%;
	 overflow: auto;
	 background-color: gray;
 }
 
.btn {
	z-index: 2;
	cursor: pointer;
	display: inline-block;
}
.bar1, .bar2, .bar3 {
	width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px auto;
  transition: 0.4s;
	
}
.change .bar1 {
	transform: rotate(-45deg)translate(-9px, 6px)
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px)
}

@media screen and (max-width: 675px) {
    .sidebar {
        width: 0;
    }
		.open .sidebar {
			width: 100%
		}
		.open .btn {
			
			right: 10%;
			
		}
		.btn {
			right: 80%;
			padding-top: 5px;
			display: inline-block block;
			border-radius: 40%;
			background-color: black;
			height: 45px;
			width: 50px;
			position: fixed;
			transition: right 2s;
		}
	
}