img {
    float: left;
    height: 48px;
    width: 48px;
}
.messageContent {
    float: left;
    min-height: 48px;
}
.messageComp {
	background-color: #226;
	width: 100%;
	display: flex;
	padding: 10px;
}