.icon {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}
.attachmentBox {
    display: flex;
    flex-direction: column;
}
.messageContent {
    float: left;
    margin-top: 5px;
    min-height: 48px;
    margin-left: 5px;
}
.messageComp {
	background-color: #72767d;
	width: 100%;
	display: flex;
}
.messageComp:hover {
    background-color: #52565d;
}
:host {
    background-color: #75767d;
}

.imgAttachment, .videoAttachment {
    max-width: 80%;
    height: auto;
    margin-left: 20px;
    border-radius: 6px;
}
